### Gradle ###
.gradle/
build/
# Keep the wrapper -- reviewers shouldn't need a global Gradle install.
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.claude

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store